:root {
  --light-blue: #CAF0F8;
  --second-l-blue: #90E0EF;
  --aqua: #00B4D8;
  --dark-blue: #03045E;
}

.project--cards.dark.off {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 85%;
    background-color: var(--light-blue);
    border-radius: 20px;
  }

  .project--cards.dark.on {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 85%;
    background-color: #09192F;
    border-radius: 20px;
  }
  
  .cards {
    height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .cards::-webkit-scrollbar{
    display: none;
  }
  
  .card {
    min-width: 100%;
    height: 290px;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
  }
  
  .card--c {
    background-color: #FFFFFF;
    border-radius: 20px;
    max-width: 260px;
    text-align: center;
  }

  .card--c.dark.on {
    background-color: #05101f;
    border-radius: 20px;
    max-width: 260px;
    text-align: center;
    border: 1px solid #00B4D8;
    color: #FFF;
  }
  
  .project-img-around {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: 70%;
  }
  
  .project--imgs  {
    min-width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
  }
  
  .project--imgs:hover {
    transform: scale(1.2);
  }

  .card--txt {
    padding-top: 10px;
  }

  @media screen and (min-width: 721px) {

    .project--cards {
      padding: 0 20px 0 20px;
    }
    
    .shape-img > img {
      width: 95%;
      height: 90%;
      grid-area: infoimg;
    }
    
    .cards {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  
    .card {
      min-width: 200px;
    }

    .card--c {
      max-width: 260px;
    }
  }