* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --dark-bg: #09192F;

  --light-blue: #CAF0F8;
  --second-l-blue: #90E0EF;
  --aqua: #00B4D8;
  --dark-blue: #03045E;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.dark.on {
  background-color: #05101f;
  font-family: 'Cabin', sans-serif;
}

.structure {
  display: flex;
  flex-direction: column;
  gap: 20px;
} 

@media screen and (max-width: 730px) {
  .blue-bg.dark.off{
    height: 110vh;
  } 
  
   .blue-bg.dark.on{
    height: 110vh;
  } 
}