
.nav--bar,
.main.dark.off,
.main.dark.on,
.info--sec,
.blue-bg,
.project--cards,
.project--page  {
  width: 90%;
  margin: auto;
}

.main-section,
.projects-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

