* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --light-blue: #CAF0F8;
  --second-l-blue: #90E0EF;
  --aqua: #00B4D8;
  --dark-blue: #03045E;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.nav--bar,
.main,
.info--sec,
.blue-bg,
.project--cards,
.project--page  {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.blue-bg {
  background-color: var(--light-blue);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.main-section,
.projects-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

